.news-card[data-v-0cba11b7]{transition:all .3s ease}.news-card[data-v-0cba11b7]:hover{transform:translateY(-5px);box-shadow:0 10px 20px #0000000d!important}.letter-spacing-1[data-v-0cba11b7]{letter-spacing:.1em}
